* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Roboto', 'sans-serif', 'Arial';
}

:root {
    --clr-linear-1: linear-gradient(to left, var(--clr-primario-1), var(--clr-grad-1), var(--clr-primario-3));
    --clr-primario-1: rgb(56, 139, 56);
    --clr-primario-2: rgb(51, 95, 51);
    --clr-primario-3: rgb(74, 186, 74);
    --clr-primario-4: rgb(108, 108, 140);
    --clr-relleno-1: rgb(29, 71, 29);
    --clr-relleno-2: rgb(42, 104, 42);
    --clr-negro: rgb(0, 0, 0);
    --clr-titulos: rgb(154, 207, 176);
    --clr-letra-1: rgb(161, 124, 48);
    --clr-letra-2: rgb(214, 191, 75);
    --clr-letra-3: rgb(108, 110, 217);
    --clr-grad-1: rgb(61, 153, 61);
    --ff-frases: 'Indie Flower', cursive;
    --ff-hero: 'Playfair Display', serif;
    --ff-letra-hero: 'Zilla Slab Highlight', cursive;
    --ff-texto: 'Ubuntu', sans-serif;
    --ff-titulos: 'RocknRoll One', sans-serif;
}

header {
    align-items: center;
    text-align: center;
    margin: 20px 15px;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 0 2.5em;
    width: 80%;
    transition: .5s ease;
}

.nav a:hover {
    background-color: var(--clr-primario-2);
    transition: .6s;
    color: var(--clr-letra-2);
    width: auto;
}

.nav li {
    line-height: 3rem;
    position: relative;
    width: auto;
}

.nav li ul {
    position: absolute;
}

.nav li:hover li {
    max-height: 500px;
    overflow: visible;
}

.nav>ul {
    background-image: var(--clr-linear-1);
    width: 100%;
}

.nav>ul>li {
    display: inline-table;
}

.nav li li {
    background-color: var(--clr-relleno-2);
    max-height: 0;
    overflow: hidden;
    transition: .9s all;
    list-style: none;
}

.nav>ul>li>ul {
    width: 120%;
}

.logo {
    position: relative;
    width: 250px;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgba(48, 117, 48, 0.705);
    left: -200px;
    transition: all 500ms linear;
    display: none;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .8);
    text-align: center;
}

#sidebar ul li a {
    text-decoration: none;
    list-style: none;
    color: blanchedalmond;
    font-family: var(--ff-frases);
}

#sidebar ul li img {
    width: 90%;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 25rem;
    border-radius: 15px;
    font-family: var(--ff-titulos);
    color: var(--clr-primario-4);
}

p {
    text-align: justify;
    margin: 2rem;
    font-family: var(--ff-texto);
    color: var(--clr-letra-1);
    font-size: 1.5rem;
}

.bg-dark {
    background-color: var(--clr-relleno-1);
    color: #fff;
}

.footer {
    padding: 1rem;
    text-align: center;
    margin: auto;
}

.footer p {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.contenedor {
    margin: 0rem 2rem 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: var(--clr-primario-3);
    box-shadow: 1px 3px 5px var(--clr-negro);
}

.foto {
    margin: 2.5rem;
    width: 400px;
    height: 250px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 1px 3px 5px #333;
}

.flor1 {
    background: url(../img/flores/girasol.jpg);
}

.flor1:hover {
    background: url(../img/flores/girasol_hover.jpg);
    transition: ease-in-out 0.45s;
}

.flor2 {
    background: url(../img/flores/rosa.jpg);
}

.flor2:hover {
    background: url(../img/flores/rose_hover.jpg);
    transition: ease-in-out 0.45s;
}

.flor3 {
    background: url(../img/flores/margarita.jpg);
}

.flor3:hover {
    background: url(../img/flores/margarita_hover.jpg);
    transition: ease-in-out 0.45s;
}

.flor4 {
    background: url(../img/flores/petunias.jpg);
}

.flor4:hover {
    background: url(../img/flores/petunias_hover.jpg);
    transition: ease-in-out 0.45s;
}

.flor5 {
    background: url(../img/flores/orquideas.jpg);
}

.flor5:hover {
    background: url(../img/flores/orquideas_hover.jpg);
    transition: ease-in-out 0.45s;
}

.flor6 {
    background: url(../img/flores/amapolas.jpg);
}

.flor6:hover {
    background: url(../img/flores/amapolas_hover.jpg);
    transition: ease-in-out 0.45s;
}

.boton {
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: var(--clr-negro);
    color: var(--clr-letra-2);
    font-weight: 700;
}

.boton:hover {
    font-size: 1.5rem;
    transition: ease-in-out 0.45s;
}

.modal-container {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 55%;
    height: 50%;
    background-color: white;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-close {
    transform: translateY(-400%);
}

.actives {
    visibility: hidden;
}

.modal label {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 5rem;
}

.modal input {
    margin: 1rem 4rem;
}

.modal-container .modal .boton1 {
    margin: 1rem 23rem;
    font-size: 1rem;
    width: 10%;
}

.close {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    color: red;
    cursor: pointer;
}

@media (min-width:1280px) and (max-width:1599px) {
    .foto {
        width: 300px;
        height: 250px;
    }
    .modal {
        width: 65%;
        height: 60%;
    }
    .modal label {
        font-size: 1.2rem;
        margin: 1rem 6rem;
    }
}

@media (min-width:320px)and (max-width:1279px) {
    #sidebar {
        display: block;
        z-index: 1;
    }
    #sidebar .toggle-btn {
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
    nav {
        display: none;
    }
    .contenedor {
        align-items: center;
    }
    .foto {
        margin: 10px 0px 0px 10px;
        width: 250px;
        height: 250px;
    }
    .modal {
        width: 85%;
        height: 60%;
        align-items: center;
    }
    .modal h1 {
        font-size: 1rem;
    }
    .modal p {
        font-size: 1rem;
        margin: 10px 12px;
    }
    .modal label {
        font-size: 1rem;
        margin: 4rem 1rem;
    }
    .modal input {
        font-size: 0.5rem;
        margin: 1rem 0.2rem;
    }
    .modal-container .modal .boton1 {
        margin: 1rem 5rem;
        font-size: 1rem;
        width: 50%;
    }
}